<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div>
        <h2 style="text-align: center;">Formulario de Curriculum</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'registro_curriculum' %}" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required>
                    </div>

                    <div class="form-group">
                        <label for="correo_electronico">Correo Electrónico:</label>
                        <input type="email" id="correo_electronico" name="correo_electronico" class="form-control" placeholder="Correo Electrónico" required>
                    </div>

                    <div class="form-group">
                        <label for="area_trabajo">Área de Trabajo:</label>
                        <input type="text" id="area_trabajo" name="area_trabajo" class="form-control" placeholder="Área de Trabajo" required>
                    </div>

                    <div class="form-group">
                        <label for="telefono">Teléfono:</label>
                        <input type="tel" id="telefono" name="telefono" class="form-control" placeholder="Teléfono">
                    </div>

                    <div class="form-group">
                        <label for="experiencia_laboral">Experiencia Laboral:</label>
                        <textarea id="experiencia_laboral" name="experiencia_laboral" class="form-control" placeholder="Experiencia Laboral" rows="4" maxlength="500"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="anios_experiencia">Años de Experiencia:</label>
                        <input type="number" id="anios_experiencia" name="anios_experiencia" class="form-control" placeholder="Años de Experiencia">
                    </div>

                    <div class="form-group">
                        <label for="educacion">Educación:</label>
                        <textarea id="educacion" name="educacion" class="form-control" placeholder="Educación" rows="4" maxlength="500"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="habilidades">Habilidades:</label>
                        <input type="text" id="habilidades" name="habilidades" class="form-control" placeholder="Habilidades">
                    </div>

                    <div class="form-group">
                        <label for="idiomas">Idiomas:</label>
                        <input type="text" id="idiomas" name="idiomas" class="form-control" placeholder="Idiomas">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

