<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div>
        <h2 style="text-align: center;">Formulario de Curriculum</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'registro_curriculum' %}" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required>
                    </div>

                    <div class="form-group">
                        <label for="correo_electronico">Correo Electrónico:</label>
                        <input type="email" id="correo_electronico" name="correo_electronico" class="form-control" placeholder="Correo Electrónico" required>
                    </div>

                    <div class="form-group">
                        <label for="area_trabajo">Área de Trabajo:</label>
                        <input type="text" id="area_trabajo" name="area_trabajo" class="form-control" placeholder="Área de Trabajo" required>
                    </div>

                    <div class="form-group">
                        <label for="telefono">Teléfono:</label>
                        <input type="tel" id="telefono" name="telefono" class="form-control" placeholder="Teléfono">
                    </div>

                    <div class="form-group">
                        <label for="experiencia_laboral">Experiencia Laboral:</label>
                        <select id="experiencia_laboral" name="experiencia_laboral" class="form-control" required>
                            <option value="asistente_ejecutivo">Asistente Ejecutivo</option>
                            <option value="coordinador_de_proyecto">Coordinador de Proyecto</option>
                            <option value="gerente_seguridad">Gerente Seguridad</option>
                            <option value="desarrollador_backend">Desarrollador backend</option>
                            <option value="desarrollador_frontend">Desarrollador frontend</option>
                            <option value="desarrollador_full_stack">Desarrollador full stack</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="anios_experiencia">Años de Experiencia:</label>
                        <input type="number" id="anios_experiencia" name="anios_experiencia" class="form-control" placeholder="Años de Experiencia">
                    </div>

                    <div class="form-group">
                        <label for="educacion">Educación:</label>
                        <select id="educacion" name="educacion" class="form-control" required>
                            <option value="basica">Basica</option>
                            <option value="media">Media</option>
                            <option value="superior">Superior</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="habilidades">Habilidades:</label>
                        <select id="habilidades" name="habilidades" class="form-control" required>
                            <option value="programacion">Programacion</option>
                            <option value="primeros_auxilios">Primeros Auxilios</option>
                            <option value="liderazgo">Liderazgo</option>
                            <option value="creatividad_e_innovación">Creatividad e Innovación</option>
                            <option value="trabajo_en_equipo">Trabajo en Equipo</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="idiomas">Idiomas:</label>
                        <select id="idiomas" name="idiomas" class="form-control" required>
                            <option value="español">Español</option>
                            <option value="ingles">Ingles</option>
                            <option value="español_e_ingles">Español e Ingles</option>
                            <option value="español_ingles_y_frances">Español, Ingles y Frances</option>
                            <option value="español_ingles_y_portugues">Español, Ingles y Portugues</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

