<form method="POST">
    {% csrf_token %}
    <label for="nombre_usuario">Nombre de usuario:</label>
    <input type="text" name="nombre_usuario" required>
  
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" required>
  
    <label for="apellidos">Apellidos:</label>
    <input type="text" name="apellidos" required>
  
    <label for="email">Email:</label>
    <input type="email" name="email" required>
  
    <label for="fecha_nacimiento">Fecha de nacimiento:</label>
    <input type="date" name="fecha_nacimiento" required>
  
    <label for="roles">Rol:</label>
    <select name="roles" required>
      <option value="usuario">Usuario normal</option>
      <option value="admin">Administrador</option>
    </select>
  
    <input type="submit" value="Enviar">
  </form>