{% extends "./base.html" %}

{% block title %}Solicitud de trabajos{% endblock%}

{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Solicitud de Trabajos</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'registrar_trabajo' %}" method="POST">{% csrf_token %}

                    <div class="form-group">
                        <label for="titulo">Titulo del Trabajo:</label>
                        <input type="text" id="txtTitulo" name="txtTitulo" class="form-control" placeholder="Titulo" maxlength="50" required>
                    </div>

                    <div class="form-group">
                        <label for="descripcion">Descripción del Trabajo:</label>
                        <textarea id="txtDescripcion" name="txtDescripcion" class="form-control" placeholder="Descripción" rows="4" maxlength="500" required></textarea>
                    </div>

                    <div class="form-group">
                        <label for="requisitos">Requisitos del Trabajo:</label>
                        <textarea id="txtRequisitos" name="txtRequisitos" class="form-control" placeholder="Requisitos" rows="4" maxlength="500" required></textarea>
                    </div>

                    <div class="form-group">
                        <label for="ubicacion">Ubicación del Trabajo:</label>
                        <input type="text" id="txtUbicacion" name="txtUbicacion" class="form-control" placeholder="Ubicación" maxlength="100" required>
                    </div>

                    <div class="form-group">
                        <label for="sueldo">Sueldo:</label>
                        <input type="number" id="txtSueldo" name="txtSueldo" class="form-control" placeholder="Sueldo" required>
                    </div>

                    <div class="form-group">
                        <label for="tipo_trabajo">Tipo de Trabajo:</label>
                        <select id="selTipoTrabajo" name="selTipoTrabajo" class="form-control" required>
                            <option value="tiempo_completo">Tiempo Completo</option>
                            <option value="medio_tiempo">Medio Tiempo</option>
                            <option value="freelance">Freelance</option>
                            <option value="reemplazo">Reemplazo</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="tipo_contrato">Tipo de Contrato:</label>
                        <select id="selTipoContrato" name="selTipoContrato" class="form-control" required>
                            <option value="indefinido">Indefinido</option>
                            <option value="temporal">Temporal</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="area_trabajo">Área de Trabajo:</label>
                        <input type="text" id="txtAreaTrabajo" name="txtAreaTrabajo" class="form-control" placeholder="Área de Trabajo" maxlength="100" required>
                    </div>

                    <div class="form-group">
                        <label for="fecha_publicacion">Fecha de Publicación:</label>
                        <input type="date" id="fecha_publicacion" name="fecha_publicacion" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="trabajo_remoto">Trabajo Remoto:</label>
                        <input type="checkbox" id="chkTrabajoRemoto" name="chkTrabajoRemoto">
                    </div>

                    <div class="form-group">
                        <label for="fecha_limite">Fecha Límite para la Aplicación:</label>
                        <input type="date" id="fecha_limite" name="fecha_limite" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">  
        <h1>Listado de Trabajos</h1>
        <div class="table-responsive py-2">
            <table class="table table_striped">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Requisitos</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in reemplazos %}
                    <tr>
                        
                        <td>{{r.titulo}}</td>
                        <td>{{r.requisitos}}</td>
                        <td><a href="edicionTrabajo/{{r.id}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminacionTrabajo/{{r.id}}" class="btn btn-danger">Eliminar</a></td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
